from ...assets.core import *
from ...assets.dataset.luna import *
from ...assets.cross_val.luna_holdout import *
from ...assets.model.unet import *
from ...assets.batch_iter.tumor_sampling import *
from ...assets.metric import *

from dpipe.torch.functional import weighted_cross_entropy_with_logits


criterion = weighted_cross_entropy_with_logits

x_patch_size = y_patch_size = np.array([128] * 3)
batch_size = 2
