from ...assets.core import *
from ...assets.dataset.luna import *
from ...assets.cross_val.luna_holdout import *
from ...assets.model.unet import *
from ...assets.batch_iter.tumor_sampling import *
from ...assets.metric import *

from iw.torch import generalized_dice_loss


criterion = generalized_dice_loss

x_patch_size = y_patch_size = np.array([128] * 3)
batch_size = 2
