from sklearn.model_selection import train_test_split


ids_train = list(df[(df['split'] == 'train') | (df['split'] == 'val')].index)
ids_holdout = list(df[df['split'] == 'holdout'].index)

val_size = 5
train_val_ids = train_test_split(ids_train, test_size=val_size, random_state=seed)
split = [[train_val_ids[0], train_val_ids[1], ids_holdout]]
