from ...assets.core import *
from ...assets.dataset.lits import *
from ...assets.cross_val.lits_holdout import *
from ...assets.model.unet import *
from ...assets.batch_iter.tumor_sampling import *
from ...assets.metric import *

from dpipe.torch.functional import focal_loss_with_logits


criterion = partial(focal_loss_with_logits, alpha=0.75)

x_patch_size = y_patch_size = np.array([128] * 3)
batch_size = 2
