from ...assets.core import *
from ...assets.dataset.lits import *
from ...assets.cross_val.lits_holdout import *
from ...assets.model.unet import *
from ...assets.batch_iter.with_cc import *
from ...assets.metric import *

from iw.torch import iwfl


criterion = partial(iwfl, alpha=0.75)

x_patch_size = y_patch_size = np.array([128] * 3)
batch_size = 2
