from functools import partial

from dpipe.batch_iter import Infinite, load_by_random_id
from iwbce.batch_iter import extract_patch, center_choice
from iwbce.cv import get_connected_components


# batch iter:
tumor_sampling = True
nonzero_fraction = 0.5
patient_sampling_weights = n_tumors / np.sum(n_tumors)
load_centers = dataset.load_tumor_centers

with_cc = True
load_cc = partial(dataset.load_cc, get_cc_fn=get_connected_components)

batch_iter = Infinite(
    load_by_random_id(load_x, load_y, load_cc, load_centers,
                      ids=train_ids, weights=patient_sampling_weights, random_state=seed),
    partial(center_choice, y_patch_size=y_patch_size, with_cc=with_cc,
            nonzero_fraction=nonzero_fraction, tumor_sampling=tumor_sampling),
    partial(extract_patch, x_patch_size=x_patch_size, y_patch_size=y_patch_size, with_cc=with_cc),
    batch_size=batch_size, batches_per_epoch=batches_per_epoch, buffer_size=16
)
