from functools import partial

from dpipe.medim.metrics import dice_score, aggregate_metric
from iw.utils import get_pred
from iw.metric import prc_records


dice_metric = lambda x, y: dice_score(get_pred(x), get_pred(y))

val_metrics = {
    'dice_scores': partial(aggregate_metric, metric=dice_metric),
}

dice_metric_from_id = lambda i, y_pred: dice_metric(load_y(i), y_pred)
prc_metric_from_id = lambda i, y_pred, y_logit: prc_records(load_y(i), y_pred, y_logit)

final_metrics = {
    'dice': dice_metric_from_id,
    'prc_records': prc_metric_from_id
}
